@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#080808;
  color:white;

}

#header{
  width: 100%; 
  height: 100vh;
  background-image: url(Dark-Wallpaper-Nature.jpg);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}
.container2{
  padding: 10px 10%;
}
.container3{
  padding: 10px 10%;
}
.container4{
  padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: white; 
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width:0;
  height: 3px;
  background:#c7879b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
 width:100%
}

.header-text{
  margin-top:20%;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 10px;
}


#about{
  width: 100%;
  height: 100vh;
}

.row{

  display: flex;
  align-items: center;
  height: 80vh;
  width:80vw;
  margin-top:50px;
}

.col-1{
  height:90%;
  width: 30%;
  margin-left: 15px;;
  background: url(profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.col-2{
  width: 70%;
  height:100%;
  margin-left: 30px;
  margin-top: 80px;
}

.col-2 h1{
  font-size: 45px;
}
.col-2 p{
  font-size: 18px;
  margin-top: 20px;
}

.col-2-2{
 
  height: 350px;
  margin-top: 10px;
  margin-right: 5px;
}

nav2 ul{
  list-style-type: none;
  margin-top: 20px;
}
nav2 ul li{
  display: inline-block;
 margin-right: 30px;
}

nav2 ul li a{
  position: relative;
  color: rgb(217, 213, 213);
}

nav2 ul li a:hover{
  cursor: pointer;
}

nav2 ul li a::after{
   content: "";
   width: 0;
   background:#ff004f;
   position: absolute;
   height: 3px;
   left: 0px;
   bottom: -6px;
   transition: 0.5s;
}

nav2 ul li a:hover::after{
  width: 100%;
}

.col-2-2-content{

  height: 300px;
  margin-top: 20px;
}

.duration{
  color: #ef4c80;
  margin-bottom: 3px;
}

.p1{
  color: rgb(217, 213, 213);
  margin-bottom: 15px;
}

#services{
  width: 100%; 
  height: 90vh;
}

.myservices{
  color: white;
  font-size: 40px;
  margin-top:70px;
  margin-bottom: 70px;
}

.service{
  height:300px;
  margin-top: 30px;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box{
  height: 90%;
  width: 30%;
  border-radius: 5px;
  border: 1px solid red;
  background-color: rgb(46, 46, 46);
  transition: transform 0.5s ease-in-out, background-color 0.5s ;
  padding: 30px 30px;
}

.box:hover{
  transform: translateY(-15px);
  background-color: #ff004f;

}
.box img{
   height: 40px;
}
.box h1{
  margin-top: 15px;
  margin-bottom: 5px;
}

.box p{
  font-size: 14px;
}

#mywork{
  height: 90vh;
  width:100%;
}

.myworks{
  color: white;
  font-size: 40px;
  margin-top:70px;
}

.works{
  height:400px;
  margin-top: 30px;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.work{
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;  
  position: relative;
}

.image-1{
  width: 100%;
  height: 100%;
 display: block;
  object-fit: cover;
}

 .layer{
   bottom: -100%; 
  position: absolute; 
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  transition: bottom 0.5s; /* Smooth transition */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
   padding: 20px;
  box-sizing: border-box; 
}

.work:hover .layer {
  bottom: 0; 
}  

#contact-me{
  width: 100%; 
  height: 100vh;
}

.contact-row{
  height: 600px;;
  display: flex;
  align-items: center;
  justify-content: center;
   margin-top: 70px; 
}

.contact-row-col{
  width: 50%;
  height: 100%;
  margin-top:170px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.contact-row-col h1{
  margin-bottom: 20px;
  font-size: 40px;
}

.contact-row-col p{
  margin-bottom: 15px;;
}


.contact-row-col2{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.abc{

  width: 90%;
  height: 8%;
  background-color: rgb(30, 30, 30);
  color: rgb(90, 90, 90);
  border-radius: 5px;
  padding: 8px 8px ;
  border: none;
}
.abc2{
 
  width: 90%;
  height: 8%;
  background-color: rgb(30, 30, 30);
  color: rgb(90, 90, 90);
  border-radius: 5px;
  padding: 8px 8px ;
  border: none;
}
.abc3{
  background-color: rgb(30, 30, 30);
  width: 90%;
  height: 30%;
  background-color: rgb(30, 30, 30);
  color: rgb(90, 90, 90);
  border-radius: 5px;
  padding: 8px 8px ;
   border: none;
   
}




.email{
  display: flex;
  align-items:center;
  height: 30px;
  margin-bottom: 20px;
}

.email-logo{
  height: 20px;

}

.email-text{
  margin-left: 10px;
  margin-top: 13px;
}

.links{
  display: flex;
  align-items: center;
  justify-content: start;
  gap:15px;
  height: 30px;
}

.social{
  height: 100%;
  cursor: pointer;
 
}

.download{
  padding: 5px  15px;
  width: 160px;
  height: 50px;
  margin-top: 50px;
  color: white;
  background-color: #ff004f;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.submit-button{
  padding: 5px  15px;
  width: 140px;
  height: 50px;
  margin-top: 30px;
  color: white;
  background-color: #ff004f;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.forms{
  height: 100%;
  display: flex;
  gap: 15px;;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.clickable{
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  .header-text{
    margin-top:40%;
    font-size: 20px;
  }
  
  .header-text h1{
    font-size: 40px;
    margin-top: 10px;
  }


  
.row{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width:80vw;
  margin-top:10px;
}

.col-1{
  height:30%;
  width: 90%;
  margin-top: 35px;
  margin-left: 15px;;
  background: url(profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.col-2{
  width: 90%;
  height:70%;
  margin-left: 10px;
  margin-top: 5px;
}

.col-2 h1{
  font-size: 25px;
  margin-top: 5px;
}
.col-2 p{
  font-size: 14px;
  margin-top: 10px;
}

.col-2-2{
 
  height: 350px;
  margin-top: 10px;
  margin-right: 5px;
}

nav2 ul li{
  display: inline-block;
 margin-right: 15px;
}

.container3{
  margin-top: 5px;
  
}
.myservices{
  margin-bottom: 40px;
  margin-top: 0;
}

.service{
 height: 70vh;
  margin-top: 35px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;


}

.box{
  height: 90%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid red;
  background-color: rgb(46, 46, 46);
  transition: transform 0.5s ease-in-out, background-color 0.5s ;
  padding: 30px 30px;
  
}

.myworks{
  margin-top: 200px;
  
}

.works{
  height:700px;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  overflow-x: auto;
  
}

.work{
  height: 360px;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  position:relative;
  
}

.contact-row{
  height: 600px;;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
   margin: 5px -143px;
 
}

.container2{
  padding: 5px 5px;
}

#contact-me{
  width: 100%; 
  height: 95vh;
}

.abc{
  height: 45px;
  

}

.abc2{
  height:  45px;
}

.abc3{
  height: 95px ;
}


  
}
